.featured1 {
  width: 30%;
  margin-left: 150px;
  margin-top: 40px;
  display:flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  font-size:small;
  
}
.featured2 {
  width:37%;
  margin-left:1.5cm;
  margin-right:5cm;
  margin-top: 2cm;;


  display:flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  
}

.featuredItem1 {
  flex: 1;
  margin: 0px 20px;
  margin-left: -2cm;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(181, 240, 243);
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.featuredItem2 {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(181, 240, 243);
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.featuredTitle {
  font-size: 20px;
  color: black;
  
}

.featuredMoneyContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  color: black;
}

.featuredMoney {
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.featuredIcon {
  font-size: 14px;
  margin-left: 5px;
  color: green;
}

.featuredIcon.negative {
  color: red;
}
/*.featured {
    width: 70%;
    margin-left: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(181, 240, 243);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .featuredTitle {
    font-size: 20px;
    color: black;
    
  }
  
  .featuredMoneyContainer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .featuredMoney {
    font-size: 30px;
    font-weight: 600;
    color: black;
  }
  
  .featuredIcon {
    font-size: 14px;
    margin-left: 5px;
    color: green;
  }
  
  .featuredIcon.negative {
    color: red;
  }*/
  