.chart {
    display: flex;

    margin: 20px;
    padding: 20px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  
  }
  
  .chartTitle {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  